[buildout]
develop =
    .

parts = test funnelweb mkrelease  loadnews
#funnelweb2 
#extends =
#    http://download.zope.org/Zope2/index/2.12.11/versions.cfg
#    http://dist.plone.org/release/4.0.1/versions.cfg
versions = versions
find-links =
    http://dist.plone.org/release/4.0
    http://dist.plone.org/thirdparty

extensions =
  mr.developer
  buildout.dumppickedversions
dump-picked-versions-file = picked.cfg
sources = sources
sources-dir = ${buildout:directory}/src
auto-checkout =


[test]
recipe = zc.recipe.testrunner
eggs = funnelweb [tests]


[funnelweb]
recipe = funnelweb
crawler-url=http://www.whitehouse.gov
crawler-ignore=
        \.mp4
	\.mp3
	cgi-bin
	javascript:
crawler-max=50
template1-title= text //div[@class='content']//h1[@property='dc:title']
template1-text= title //div[@class='content']//p
template2-title= html //div[@class='body-text']//h2[@property='dc:title']
template2-text= text //div[@class='body-text']//p
template3-title= text //div[@class='content']/h1
template3-text= html //div[@class='content']



[funnelweb2]
recipe = funnelweb
crawler-site_url=http://www.whitehouse.gov
crawler-ignore=
        \.mp4
	\.mp3
	cgi-bin
	javascript:
template1-text= html //div[re:test(@class,"^extend-page body-text clearfix clear page node-content$","i")]//div[re:test(@id,"^content$","i")]//p
	//div[re:test(@class,"^extend-page body-text clearfix clear page node-content$","i")]//div[re:test(@id,"^content$","i")]//h2
	//div[re:test(@class,"^extend-page body-text clearfix clear page node-content$","i")]//div[re:test(@id,"^content$","i")]//p
	//div[re:test(@class,"^extend-page body-text clearfix clear page node-content$","i")]//div[re:test(@id,"^content$","i")]//h2
	//div[re:test(@class,"^extend-page body-text clearfix clear page node-content$","i")]//div[re:test(@id,"^content$","i")]//p
template1-title= html //div[re:test(@class,"^extend-page body-text clearfix clear page node-content$","i")]//div[re:test(@id,"^content$","i")]//h1


[unepscs]
recipe = funnelweb
crawler-url=http://www.unepscs.org/
crawler-ignore=
        \.mp4
	\.mp3
	cgi-bin
	javascript:

[loadnews]
recipe = funnelweb
crawler-url = http://oceantrackingnetwork.org/news
ploneupload-target=http://admin:admin@localhost:8080/funnelweb/ocean
template1-title = html //div[@id="dal_content"]/div[@class="content"]/h3
template1-summary = html //div[@id="dal_content"]/div[@class="content"]/p[1]
template1-image-caption = html //div[@id="dal_content"]/div[@class="content"]/table//font
template1-text = html //div[@id="dal_content"]/div[@class="content"]
changetype-value=python:{'Document':'News Item'}.get(item['_type'],item['_type'])
crawler-ignore = index\.html
                 inthenews
templateauto-condition=python:False

[lxml]
recipe = z3c.recipe.staticlxml
egg = lxml == 2.2.6

[PIL]
# Build egg with Chris McDonough's custom packaging of setuptools-compatibile PIL
# http://article.gmane.org/gmane.comp.web.zope.devel/13999
recipe = zc.recipe.egg
egg = PIL==1.1.6
find-links = http://dist.repoze.org/PIL-1.1.6.tar.gz


[instance]
recipe = plone.recipe.zope2instance
debug-mode = on
verbose-security = on
user = admin:admin
zcml-eggs =
#	pretaweb.funnelweb
#    plone.reload
eggs =
    ${PIL:egg}
    Plone
    plone.i18n
    ${instance:zcml-eggs}
    ${lxml:egg}
zcml =
	${instance:zcml-eggs}


[versions]
#zc.buildout=1.4.1


[mkrelease]
recipe = zc.recipe.egg
eggs =
 jarn.mkrelease
 collective.checkdocs

[sources]
transmogrify.webcrawler = git git@github.com/djay/transmogrify.webcrawler.git
transmogrify.pathsorter = git git@github.com/djay/transmogrify.pathsorter.git
transmogrify.siteanalyser = git git@github.com/djay/transmogrify.siteanalyser.git
transmogrify.ploneremote = git git@github.com/djay/transmogrify.ploneremote.git
transmogrify.htmlcontentextractor = git git@github.com/djay/transmogrify.htmlcontentextractor.git

[versions]
zc.buildout = 1.5.2
zc.recipe.egg = 1.3.2

